body {
  background-color: gray;
}

h1 {
  font-family: "Comic Sans MS";
}

p {
  font-family: "Comic Sans MS";
}

.NonAssable {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#amogus {
  position: fixed;
  left: 50%;
  bottom: 0;
  height: 50px;
  width: auto;
}

#bonzi {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 50px;
  width: auto;
  cursor: pointer;
}

#ball {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#goal {
  position: absolute;
  right: 0;
  top: 300px;
  pointer-events: none;
}

#quiet {
  font-size: large;
  color: pink;
}
