body {
    background: url(../Media/background.gif) gray;
    background-repeat: repeat;
    overflow-x: hidden;
}

h1 {
    font-family: "Comic Sans MS";
    color: gray;
    font-size: xxx-large;
    text-shadow: 5px 5px #692020;
}

p {
    color: gray;
    font-family: "Comic Sans MS";
}

.NonAssable {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.barlink:hover {
    background-color: yellow;
}

#header {
    color: white;
    bottom: 0;
    height: 50px;
    border-left: 0;
    border-right: 0;
}

#bloodbar {
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
}


#bonzi {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50px;
    width: auto;
    cursor: pointer;
}

#sun {
    position: fixed;
    right: 25%;
    bottom: 0;
    height: 60px;
    width: auto;
    cursor: pointer;
}

#ink {
    position: fixed;
    right: 50%;
    bottom: 0;
    height: 60px;
    width: auto;
    cursor: pointer;
}

#notes {
    position: fixed;
    right: 75%;
    bottom: 0;
    height: 60px;
    width: auto;
    cursor: pointer;
}

#ball {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: inline-block;
}

#goal {
    position: absolute;
    right: 0;
    pointer-events: none;
    top: 300px;
    height: 500px;
    width: auto;
}

#quiet {
    font-size: large;
    color: pink;
}

#credit {
    left: 50%;
    bottom: 0;
}
