@use "./base.scss";

// put your custom CSS here!

.rtl-class,
.rtl-class * {
  direction: rtl;
}

.rtl-class {
  .katex,
  .katex *,
  .math,
  .math *,
  pre,
  pre *,
  code,
  code * {
    direction: ltr;
    unicode-bidi: isolate;
  }
}

.space {
    background: url('/background.gif') gray;
    background-repeat: repeat;
    overflow-x: hidden;
    cursor: url('/cursor.png'), auto;
}