@use "./base.scss";

// put your custom CSS here!

.rtl-class,
.rtl-class * {
  direction: rtl;
}

.rtl-class {
  .math,
  .code,
  .math *,
  .code * {
    direction: ltr !important;
    text-align: left !important;
  }
}